body{
	background:white;
}
#content {
	width:80%;
	margin:auto;
}
.navul{
	text-align:center;
}
.list {
	display:inline;
	border:1px solid black;
	background:#9EE8E5;
}
.navul li:hover{
	background:#9EA9E5;
}
header {
	background:#98C787;
	padding:5px;
	text-align:center;
}
nav {
	background:#98C787;
	padding:5px;
}
footer{
	background:#98C787;
	padding:10px;
	text-align:center;
}
main{ 
	padding:5px;
	background:#DAE3C1;
	text-align:center;
}
.col-container {
	display:flex;
}
.col-container section {
	padding:4px;
	flex:1;
}
img {
	width: 150px;
	height: auto;
}
#contactstuff {
	text-align: left;
	padding: 20px;
}
.hidden {
	display:none;
}
#quizstuff{
	text-align: left;
}
